{% extends 'accounts/base.html' %}
{% block page_title %}Accelerators{% endblock %}
{% block content %}
    <div class="container">
        {% for accelerator in accelerators %}
            <a href="{% url 'accelerator_detail' accelerator.id %}">
                <div class="acc-container"> 
                    <h4><b>{{ accelerator.name }}</b></h4>
                    <div class="emptyStarsHome">
                        <i class="fa fa-star" id="emptyStarSmall1"></i>                        
                        <i class="fa fa-star" id="emptyStarSmall2"></i>
                        <i class="fa fa-star" id="emptyStarSmall3"></i>
                        <i class="fa fa-star" id="emptyStarSmall4"></i>
                        <i class="fa fa-star" id="emptyStarSmall5"></i>
                    </div>
                    <div class="halfStarsHome">
                        <i class="fas fa-star-half" id="halfStarSmall1"></i>
                        <i class="fas fa-star-half" {% if accelerator.overall_rating < 1.25 %} style="display:none;" {% endif %} id="halfStarSmall2"></i>
                        <i class="fas fa-star-half" {% if accelerator.overall_rating < 2.25 %} style="display:none;" {% endif %} id="halfStarSmall3"></i>
                        <i class="fas fa-star-half" {% if accelerator.overall_rating < 3.25 %} style="display:none;" {% endif %} id="halfStarSmall4"></i>
                        <i class="fas fa-star-half" {% if accelerator.overall_rating < 4.25 %} style="display:none;" {% endif %} id="halfStarSmall5"></i>
                    </div>
                    <div class="fullStarsHome">
                        <i class="fa fa-star" id="fullStarSmall1"></i>                            
                        <i class="fa fa-star" {% if accelerator.overall_rating < 1.75 %} style="display:none;" {% endif %} id="fullStarSmall2"></i>
                        <i class="fa fa-star" {% if accelerator.overall_rating < 2.75 %} style="display:none;" {% endif %} id="fullStarSmall3"></i>
                        <i class="fa fa-star" {% if accelerator.overall_rating < 3.75 %} style="display:none;" {% endif %} id="fullStarSmall4"></i>
                        <i class="fa fa-star" {% if accelerator.overall_rating < 4.75 %} style="display:none;" {% endif %} id="fullStarSmall5"></i>
                    </div>
                    <br>
                    <br>
                    <img class="acc-logo-list" src="{{ accelerator.logo.url }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}