{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Leave A Review{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Leave A Review</legend>
                {{ form|crispy }}
                <!--{{ form.as_p }}
                <{% for radio in form.mentorship %}
                <div class="myradio">
                    {{ radio }}
                </div>
                {% endfor %}-->
            </fieldset>
            <button class="btn" type="submit">Post Review</button>
        </form>
    </div>
{% endblock %}