/* <<<<<<<<<<<<<<<<<<<< Navbar >>>>>>>>>>>>>>>>>>>> */

.navbar{
    border-bottom: 3px solid #003366;
    background-image: linear-gradient(to bottom, #e6e6ff, #ffffff);
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-bottom: 0px;
}

.navbar-brand,
.nav-item{
    color: #000000;
    margin-bottom: 0px;
    padding: 7px;
}

.dropdown{
    color: #000000;
    padding: 7px;
    margin-top: 7px;
}

.dropdown-toggle{
    color: #000000;
}

.dropdown-menu{
    margin-top: -0.5px;
    border: 3px solid #003366;
    border-top: none;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    padding: 5px;
}

.dropdown-link{
    color: #000000;
    margin: 5px;
}

.dropdown-link:hover{
    color: #000000;
    text-decoration: none;
}

.navbar-brand:hover,
.nav-item:hover,
.dropdown-toggle:hover{
    color: #000000;
    text-decoration: none;
}

.material-icons{
    color: #000000;
    font-size: 40px;
}

/* <<<<<<<<<<<<<<<<<<<< Body >>>>>>>>>>>>>>>>>>>> */

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}

.background{
    width: 100%;
    height: auto;
}

.container{
    box-sizing: border-box;
    max-width: 1000px;
    padding: 40px;
    text-align: left;
    border-left: 3px solid #003366;
    border-right: 3px solid #003366;
}

/* <<<<<<<<<<<<<<<<<<<< Register & Login Form Pages >>>>>>>>>>>>>>>>>>>> */

.login-form{
    background-image: linear-gradient(to right, #e6e6ff, #ffffff);
    opacity: 0.9;
    border: 3px solid #003366;
    border-radius: 2%;
    padding: 15px;
}

/* <<<<<<<<<<<<<<<<<<<< Accelerator Form Page >>>>>>>>>>>>>>>>>>>> */

.form-squeeze{
    max-width: 700px;
    margin: auto;
    padding: 20px 60px;
}

.login-form-squeeze{
    max-width: 400px;
    margin: auto;
}

/* <<<<<<<<<<<<<<<<<<<< Accelerators Home Page >>>>>>>>>>>>>>>>>>>> */

.acc-container{
    box-sizing: border-box;
    padding: 15px;
    width: 30%;
    height: 190px;
    margin: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    box-shadow: 3px 3px 8px #cccccc;
}

.acc-container:hover{
    background-color: #e6f2ff;
    transition: 0.5s;
}

.emptyStarsHome,
.fullStarsHome,
.halfStarsHome{
    position: absolute;
    width: 245px;
    padding-left: 30px;
    text-align: left;
    height: auto;
    margin-top: 0px;
}

/* <<<<<<<<<<<<<<<<<<<< Company Detail Page >>>>>>>>>>>>>>>>>>>> */

.acc-header{
    width: 100%;
    height: auto;
    display: flex;
}

.acc-header-inner-logo{
    box-sizing: border-box;
    width: 30%;
    padding: 10px;
    display: inline-block;
}

.acc-header-inner-lg{
    box-sizing: border-box;
    width: 45%;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.acc-header-inner-sm{
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    display: inline-block;
    background-color: #e6f2ff;
}

.acc-bio{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #e6e6ff, #ffffff);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.acc-details{
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.acc-reviews{
    width: 100%;
    padding: 20px;
    height: auto;
    display: inline-block;
    border-bottom: 1px solid #e6e6e6
}

.acc-ratings{
    padding: 20px 50px;
}

/* <<<<<<<<<<<<<<<<<<<< Review Detail Page >>>>>>>>>>>>>>>>>>>> */

.review-main{
    box-sizing: border-box;
    padding: 20px;
}

.review-ratings{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, #e6e6ff, #ffffff);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.review-buttons{
    padding: 20px;
    text-align: center;
}

.stars-container{
    box-sizing: border-box;
    display: inline-block;
    width: 32.9%;
    height: 100px;
    text-align: center;
}

.emptyStarsReview,
.fullStarsReview,
.halfStarsReview{
    position: absolute;
    width: 190px;
    margin-left: 56px;
    text-align: left;
    height: auto;
}

/* <<<<<<<<<<<<<<<<<<<< Text >>>>>>>>>>>>>>>>>>>> */

h1,h2,h3,h4,h5,p,
.nav-link,
.dropdown-link,
.dropdown-toggle,
.navbar-brand,
legend,
label,
.btn{
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Ropa Sans', sans-serif;
    /*font-family: 'Archivo', sans-serif;*/
}

p{
    font-size: 18px;
}

.blue-text{
    font-size: 16px;
}

.date-author{
    margin-top: 15px;
    font-size: 14px;
    color: #a6a6a6;
}

.accelerator-rating{
    margin-top: 45px;
    font-size: 14px;
    color: #a6a6a6;
    text-align: center;
}

.empty-page{
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* <<<<<<<<<<<<<<<<<<<< Buttons >>>>>>>>>>>>>>>>>>>> */

.options{
    text-align: center;
}

.btn{
    border: 3px solid #003366;
    color: #003366;
    background-color: #ffffff;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 0px;
}

#update{
    background-color: #ffd11a;
    border-radius: 20px;
}

#delete{
    background-color: #ff3333;
    border-radius: 20px;
}

#review,
#view,
#submit{
    border-radius: 20px;
}

.wrapper{
    width: 100%;
    text-align: center;
}

/* <<<<<<<<<<<<<<<<<<<< Images >>>>>>>>>>>>>>>>>>>> */

.acc-logo-list{
    height: 60px;
    width: auto;
}

.acc-logo-detail{
    height: auto;
    width: 100%;
}

/* <<<<<<<<<<<<<<<<<<<< Stars >>>>>>>>>>>>>>>>>>>> */

.emptyStars,
.fullStars,
.halfStars{
    position: absolute;
    padding: 10px;
    padding-left: 55px;
    width: 390px;
    height: auto;
    text-align: left;
}

#emptyStar1,
#emptyStar2,
#emptyStar3,
#emptyStar4,
#emptyStar5{
    color: #e6e6e6;
    font-size: 45px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#halfStar1,
#halfStar2,
#halfStar3,
#halfStar4,
#halfStar5{
    font-size: 45px;
    color: #ffd11a;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#fullStar1,
#fullStar2,
#fullStar3,
#fullStar4,
#fullStar5{
    font-size: 45px;
    color: #ffd11a;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.emptyStarsSmall,
.fullStarsSmall,
.halfStarsSmall{
    position: absolute;
    width: 190px;
    margin-top: 30px;
    text-align: center;
    height: auto;
    margin-top: 0px;
    text-align: left;
}

#emptyStarSmall1,
#emptyStarSmall2,
#emptyStarSmall3,
#emptyStarSmall4,
#emptyStarSmall5{
    color: #e6e6e6;
    font-size: 30px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#halfStarSmall1,
#halfStarSmall2,
#halfStarSmall3,
#halfStarSmall4,
#halfStarSmall5{
    font-size: 30px;
    color: #ffd11a;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#fullStarSmall1,
#fullStarSmall2,
#fullStarSmall3,
#fullStarSmall4,
#fullStarSmall5{
    font-size: 30px;
    color: #ffd11a;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.disappear{
    display: none;
}

/* <<<<<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>>>>>> */

footer{
    width: 100%;
    height: 100px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
}


/* <<<<<<<<<<<<<<<<<<<< Form Stars >>>>>>>>>>>>>>>>>>>> */

.radio{
    display: none;
    transform: scale(1.7);
}

.stars-box{
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.stars-con{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    display: inline-block;
    width: 49.5%;
    text-align: center;
}

.formStars{
    font-size: 30px;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
    cursor: pointer;
    color: #e6e6e6;
    position: relative;
}


/* <<<<<<<<<<<<<<<<<<<< Messages >>>>>>>>>>>>>>>>>>>> */

.alert{
    z-index: 10000;
}