{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Register</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn" type="submit">Sign Up</button>
        </form>
        <div>
            <p>Already have an account? <a href="{% url 'login' %}">Sign in here.</a></p>
        </div>
    </div>
{% endblock %}