{% extends 'accounts/base.html' %}
{% block page_title %}{{ accelerator.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="acc-header">
            <div class="acc-header-inner-logo">
                <img class="acc-logo-detail" src="{{ accelerator.logo.url }}">
            </div>
            <div class="acc-header-inner-lg">
                <h2><b>{{ accelerator.name }}</b></h2>
                <div class="emptyStars">
                    <i class="fa fa-star" id="emptyStar1"></i>                        
                    <i class="fa fa-star" id="emptyStar2"></i>
                    <i class="fa fa-star" id="emptyStar3"></i>
                    <i class="fa fa-star" id="emptyStar4"></i>
                    <i class="fa fa-star" id="emptyStar5"></i>
                </div>
                <div class="halfStars">
                    <i class="fas fa-star-half" {% if accelerator.avg_rating < 0.25 %} style="display:none;" {% endif %} id="halfStar1"></i>
                    <i class="fas fa-star-half" {% if accelerator.avg_rating < 1.25 %} style="display:none;" {% endif %} id="halfStar2"></i>
                    <i class="fas fa-star-half" {% if accelerator.avg_rating < 2.25 %} style="display:none;" {% endif %} id="halfStar3"></i>
                    <i class="fas fa-star-half" {% if accelerator.avg_rating < 3.25 %} style="display:none;" {% endif %} id="halfStar4"></i>
                    <i class="fas fa-star-half" {% if accelerator.avg_rating < 4.25 %} style="display:none;" {% endif %} id="halfStar5"></i>
                </div>
                <div class="fullStars">
                    <i class="fa fa-star" {% if accelerator.avg_rating < 0.75 %} style="display:none;" {% endif %} id="fullStar1"></i>
                    <i class="fa fa-star" {% if accelerator.avg_rating < 1.75 %} style="display:none;" {% endif %} id="fullStar2"></i>
                    <i class="fa fa-star" {% if accelerator.avg_rating < 2.75 %} style="display:none;" {% endif %} id="fullStar3"></i>
                    <i class="fa fa-star" {% if accelerator.avg_rating < 3.75 %} style="display:none;" {% endif %} id="fullStar4"></i>
                    <i class="fa fa-star" {% if accelerator.avg_rating < 4.75 %} style="display:none;" {% endif %} id="fullStar5"></i>
                </div>
                <br>
                <p class="accelerator-rating">({{ accelerator.avg_rating|floatformat:2 }} out of 5)</p>
            </div>
            <div class="acc-header-inner-sm">
                <p class="blue-text"><b>Website: </b><a href="{{ accelerator.website }}">{{ accelerator.website }}</a></p>
                <hr>
                <p class="blue-text"><b>Locations: </b>{{ accelerator.locations }}</p>
                <hr>
                <p class="blue-text"><b>Sector focus: </b>{{ accelerator.sector_focus }}</p>
                <hr>
                <p class="blue-text"><b>Stage: </b>{{ accelerator.stage }}</p>
                <hr>
                <p class="blue-text"><b>Deal: </b>{{ accelerator.deal }}</p>
                <hr>
                <p class="blue-text"><b>Duration: </b>{{ accelerator.duration }}</p>
            </div>
        </div>
        <div class="acc-bio">
            <p>{{ accelerator.bio }}</p>
        </div>
        <div class="acc-details">
            <p><b>Sector focus: </b>{{ accelerator.sector_focus }}</p>
            <p><b>Stage: </b>{{ accelerator.stage }}</p>
            <p><b>Deal: </b>{{ accelerator.deal }}</p>
            <p><b>Duration: </b>{{ accelerator.duration }}</p>
            <div class="options">
                <a class="btn" id="review" href="{% url 'review_post' accelerator.pk %}">Leave A Review  <i class="fas fa-pencil-alt" style="font-size:18px;"></i></a>
                <a class="btn" id="view" href="{% url 'accelerator_reviews' accelerator.pk %}">{{ accelerator.name }} Reviews  <i class="far fa-comment" style="font-size:18px;"></i></a>
            </div>
        </div>
        <div class="acc-ratings">
            <canvas id="accRatings"></canvas>
        </div>
        <hr>
        <div class="reviews-title">
            <h4 style="text-align:center"><b>Recent reviews for {{ accelerator.name }}</b></h4>
        </div>
        <div class="acc-reviews">
            {% if reviews %}
                {% for review in reviews %}
                <a href="{% url 'review_detail' review.pk %}">
                    <div class="review-box">
                        <div class="emptyStarsMini">
                            <i class="fa fa-star" id="emptyStarMini1"></i>                        
                            <i class="fa fa-star" id="emptyStarMini2"></i>
                            <i class="fa fa-star" id="emptyStarMini3"></i>
                            <i class="fa fa-star" id="emptyStarMini4"></i>
                            <i class="fa fa-star" id="emptyStarMini5"></i>
                        </div>
                        <div class="halfStarsMini">
                            <i class="fas fa-star-half" id="halfStarMini1"></i>
                            <i class="fas fa-star-half" {% if review.overall < 1.25 %} style="display:none;" {% endif %} id="halfStarMini2"></i>
                            <i class="fas fa-star-half" {% if review.overall < 2.25 %} style="display:none;" {% endif %} id="halfStarMini3"></i>
                            <i class="fas fa-star-half" {% if review.overall < 3.25 %} style="display:none;" {% endif %} id="halfStarMini4"></i>
                            <i class="fas fa-star-half" {% if review.overall < 4.25 %} style="display:none;" {% endif %} id="halfStarMini5"></i>
                        </div>
                        <div class="fullStarsMini">
                            <i class="fa fa-star" id="fullStarMini1"></i>                            
                            <i class="fa fa-star" {% if review.overall < 1.75 %} style="display:none;" {% endif %} id="fullStarMini2"></i>
                            <i class="fa fa-star" {% if review.overall < 2.75 %} style="display:none;" {% endif %} id="fullStarMini3"></i>
                            <i class="fa fa-star" {% if review.overall < 3.75 %} style="display:none;" {% endif %} id="fullStarMini4"></i>
                            <i class="fa fa-star" {% if review.overall < 4.75 %} style="display:none;" {% endif %} id="fullStarMini5"></i>
                        </div>
                        <p class="review-title"><b><i>"{{ review.title }}"</i></b></p>
                        <p class="review-author"><b>{{ review.author }} reviewed {{ review.subject }}</b></p>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <p style="text-align:center">No reviews have yet been posted for this company.</p>
                <p style="text-align:center">Be the first to post a review by clicking the relevant tab, above.</p>
            {% endif %}
        </div>
        <div class="options">
            {% if accelerator.author == user %}
                <br>
                <a class="btn" id="update" href="{% url 'accelerator_update' accelerator.pk %}">Update Company</a>
                <a class="btn" id="delete" href="{% url 'accelerator_delete' accelerator.pk %}">Delete Company</a>
                <br>
            {% endif %}
            <br>
        </div>
    </div>
    <script>
        var myChart = document.getElementById('accRatings').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'sans-serif';
        Chart.defaults.global.defaultFontSize = 16;
        Chart.defaults.global.defaultFontColor = '#000';
        var ratingsChart = new Chart(myChart, {
            type:'horizontalBar',
            data:{
                labels:['Mentorship', 'Hiring', 'Community', 'Fundraising', 'Corporate Development'],
                datasets:[{
                    data:[
                        4.1,
                        4.4,
                        3.9,
                        3.6,
                        4.2
                    ],
                    backgroundColor: '#e68a00',
                    hoverBackgroundColor: '#cc7a00',
                    borderColor: '#cc7a00',
                    borderWidth: '2',
                }]
            },
            options:{
                showLines: false,
                scales:{
                    yAxes:[{
                        barPercentage: 0.5,
                    }],
                    xAxes: [{
                        ticks:{
                            beginAtZero: true,
                            max: 5,
                        }
                    }],
                },
                legend:{
                    display:false,
                },
            },
        });
    </script>
{% endblock %}