{% extends 'accounts/base.html' %}
{% block page_title %}Delete Page{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Delete page</legend>
                <h4>Are you sure you want to delete the page for {{ accelerator.name }}?</h4>
            </fieldset>
            <button class="btn btn-outline-danger" type="submit">Yes, delete page</button>
            <a class="btn btn-outline-secondary" href="{% url 'accelerator_detail' accelerator.pk %}">No, back to page</a>
        </form>
    </div>
{% endblock %}