{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Add A New Accelerator{% endblock %}
{% block content %}
    <div class="container">
        <div class="form-squeeze">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Add A New Accelerator</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="wrapper">
                    <button class="btn" id="submit" type="submit">Add Accelerator</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}